.active {
  border-left: 4px solid #222;
  transition: 300ms all ease-out;
  padding-left: 0px !important;
}

.nav-item {
  padding-left: 4px;

  :hover {
    border-left: 4px solid #222;
    padding-left: 0px;
    transition: 300ms all ease-out;
  }

}
